<header class="c-header">
	<div class="c-header__inner">
		{% include "components/logo.njk" %}

		<button
			class="c-btn c-btn--inverted c-btn--small c-header__nav-btn js-nav-trigger c-btn--small c-header__nav-btn"
		>
			Menu
		</button>

		<div class="c-header__nav-container js-nav-panel">
			{% include "components/tree-nav.njk" %}

			<script type="text/javascript">
			function toggle(id, id2) {
				var n = document.getElementById(id);
				if (n.style.display != 'none') 
				{
				n.style.display = 'none';
				document.getElementById(id2).setAttribute('aria-expanded', 'false');
			}
			else
			{
			n.style.display = '';
			document.getElementById(id2).setAttribute('aria-expanded', 'true');
				}
			}
			</script>
		</div>
	</div>
	<!--end c-header__inner-->
</header>
<!--end c-header-->

