<div class="c-hero">
    <div class="l-container">
        <img class="c-hero__icon" src="https://patternlab.io/assets/icon-atom.svg" />
        <h1 class="c-hero__title">{{heroTitle}}</h1>

        <div class="c-hero__footer">
            
        </div>
    </div>
</div>