<ul class="c-tree-nav__subnav">
    {% for doc in collections.docs %}
        {% if doc.data.category == subnavCategory %}
        <li class="c-tree-nav__subnav-item">
            <a href="{{doc.url}}" class="c-tree-nav__subnav-link">
                {{ doc.data.title }}
            </a><!--end c-tree-nav__subnav-link-->
        </li><!--end c-tree-nav__subnav-item--> 
        {% endif %}
    {% endfor %}           
</ul><!--end c-tree-nav__subnav-->

{% set navPages = collections.all | eleventyNavigation %}


<ul>
{%- for entry in navPages %}
  <li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
    <a href="{{ entry.url | url }}">{{ entry.parent }}</a>
  </li>
{%- endfor %}
</ul>

{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
  <a href="{{ entry.url | url }}">{{ entry.title }}</a>
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<ul>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>

{% set navPages = collections.all | eleventyNavigation %}
{{ navPages | dump | safe }}