.c-demo-list {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    
}

.l-demo-page__body{
    margin-left: 2rem;
}

.c-header-demo-page {
    padding-bottom: 2rem;
}

