{% if demoListItems.length %}

  <ol class="c-demo-list">
    {% for item in demoListItems %}
      {% if item.date.getTime() <= global.now %}
        <li class="c-demo-list__item">
        
            <a href="{{ item.data.url }}" class="c-stacked-block" rel="bookmark">
              <img src="{{item.data.image}}" alt="{{item.data.title}}" class="c-stacked-block__image">
              <h2 class="c-stacked-block__title">
              {{ item.data.title }} 
              </h2>
              <h3 class="c-stacked-block__description">
              {{ item.data.description}} 
              </h3>
            </a>
            
        </li>
      {% endif %}
    {% endfor %}
  </ol>

{% endif %}
