
{% if postListItems.length %}

  <ol class="c-post-list">
    {% for item in postListItems %}
        <li class="c-post-list__item">
            <a href="{{ item.data.url }}" class="c-post-block" rel="bookmark">
              <time datetime="{{ item.data.date | w3DateFilter }}">{{ item.data.date | dateFilter }}</time>
              <h2 class="c-stacked-block__title">
              
              {{ item.data.title }} 
              </h2>
              <p class="c-stacked-block__description">
              {{ item.data.description}} 
              </p>
            </a>
            
        </li>
    {% endfor %}
  </ol>

{% endif %}
