{% extends 'layouts/base.njk' %}
{% set pageType = 'Post Archive' %} 

{# Intro content #}
<div class="c-header-demo-page">
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}
</div>
{# Post list content #}
{% set demoListHeading = 'All demos' %}
{% set demoListItems = collections.demos %}

{% block content %}
  <main id="main-content" class="l-demo-page__body">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/demo-list.njk" %}

  </main>
{% endblock %}
