{% extends 'layouts/base.njk' %}
{% set pageType = 'Post Archive' %} 

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}
{% set demoListHeading = 'All demos' %}
{% set demoListItems = collections.demos %}

{% block content %}
  <main id="main-content">
    <div class="l-container">
      {% include "partials/components/intro.njk" %}
      {% include "partials/components/demo-list.njk" %}
    </div>
  </main>
{% endblock %}