{% extends 'layouts/base.njk' %}
{% set pageType = 'Post Archive' %} 

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}
{% set postListHeading = 'All demos' %}
{% set postListItems = collections.demos %}

{% block content %}
  <main id="main-content">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/post-list.njk" %}
    <h2>Handlebars Starter Kits</h2>
    <ul>
    {% for collections.demos %}
        {% if demo.data.tag == "demo-hbs-starter-kits" %}
            <li>Hello</li>
        {% end if %}
    {% endfor %}
    </ul>


<h2>Twig</h2>
<h2>Pattern Lab 2 and Other Demos</h2>
<h2>Pattern Labs In the wild</h2>
  </main>
{% endblock %}
