---
title: 'Resources'
permalink: /resouces/
---

<div class="tile tile--flex">
    <h2 class="language-btn">Style guides and atomic design</h2>

    <ul class="link-list">
        <li class="link-list__item"><a class="link-list__link" href="http://styleguides.io">Styleguides.io</a></li>
        <li class="link-list__item"><a class="link-list__link" href="http://atomicdesign.bradfrost.com">Atomic Design by Brad Frost</a></li>
        <li class="link-list__item"><a class="link-list__link" href="http://bradfrost.com/blog/post/atomic-web-design/">Atomic design article</a></li>
    </ul>

</div>